@import "compass/css3/box-shadow";
@import  "compass/css3/transition";

.simple-pan{
  overflow: hidden;
  cursor: move;
  .pan-image{
    position: relative;
    box-shadow: (0 0 5px #000);

    &.animate{
      @include transition(transform 0.2s ease);
    }
  }
}