/* line 3, ../sass/simple-pan.scss */
.simple-pan {
  overflow: hidden;
  cursor: move; }
  /* line 6, ../sass/simple-pan.scss */
  .simple-pan .pan-image {
    position: relative;
    box-shadow: 0 0 5px black; }
